# IDE files
.idea
*.iml
.DS_Store

# Gradle files
.gradle
**/build/
!src/**/build/
local.properties

# Kotlin files
.kotlin

# Native build files
.externalNativeBuild
.cxx

# Xcode project files (for cross-platform projects)
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Android Studio run configurations
*.run/

# Miscellaneous
captures